@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    font: 90% 'Rubik', Verdana, sans-serif;
    background: #f6f6f6;
}

.content {
	background: white;
	max-width: 640px;
	margin: 0 auto;
	padding: 3em;
}

a {
    color: deepskyblue;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#expand-list-tree li {
    position: relative;
    margin-left: 20px;
    padding: 1px;
}

ul#expand-list-tree li.closed ul {
    display: none;
}

ul#expand-list-tree a.expander-closed,
ul#expand-list-tree a.expander-opened {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -15px;
    text-decoration: none;
}

ul#expand-list-tree a.expander-closed {
    background-image: url('../images/expander-closed.png');
}

ul#expand-list-tree a.expander-opened {
    background-image: url('../images/expander-opened.png');
}